html {
    text-align: center;
}

#center-box{
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border-color: black;
    border: 2px;
}


.answer{
    margin-left: 25%;
    margin-right: 25%;
    

}